.queen {
    background-color: lightgray;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 20px;
}
.quill {
    height: 500px;
    width: 90%;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 15px;
}
.quan {
    height: 300px;
    width: 90%;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 15px;
    padding-left: 15px;
}
footer {
    height: 40px;
    width: 95%;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
}
.home {
    background-color: aliceblue;
    height: 100px;
    font-size: xx-large;
    font-style: italic;
    color: black;
    margin-left: 15px;
}
.about {
    background-color: lightgoldenrodyellow;
    height: 100px;
    font-size: xx-large;
    font-style: normal;
    color: brown;
    margin-left: 15px;
}
.contact {
    height: 100px;
    background-color: burlywood;
    font-size: xx-large;
    font-style: oblique;
    color: darkblue;
    margin-left: 15px;
}
.flowers{
    width: 500px;
    height: 500px;
    background-color: lightpink;
    float: left;
    padding-left: 15px;
}
.daisies{
    width:500px ;
    height: 300px;
    background-color: coral;
    float: right;
}
.white{
    width: 100%;
    height:250px;
    background-color: aqua;
    margin-bottom: 3px;
}
.pink{
    width: 100%;
    height: 230px;
    background-color: lightseagreen
}
img{
    width:100%;
    height: 270px;
}