.heather{
   background-color: lightgray;
    height: 100px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 20px;
}
.home{
    background-color: aquamarine;
    height: 100px;
    font-size: xx-large;
    font-style: italic;
    color: black;
    margin-left: 220px;
}
.about{
    background-color: blueviolet;
    height: 100px;
    font-size: xx-large;
    font-style: italic;
    color: beige;
    margin-left: 15px;
}
.contact{
    background-color: beige;
    height: 100px;
    font-size: xx-large;
    font-style: italic;
    color: black;
    margin-left: 15px;
}
.collin{
    background-color: lightgray;
    width: 800px;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
}
.shallot{
    background-color: lightgray;
    width:800px;
    height:300px;
    margin: auto;
    margin-bottom:15px;
    padding-left: 15px;
}
.miracle{
    background-color: lightgray;
    width: 800px;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
}
.stark{
    width: 350px;
    height: 300px;
    background-color: blanchedalmond;
    float: left;
    padding-left: 15px;
}
.marvel{
    width: 400px;
    height: 300px;
    float: right;
    background-color: chartreuse;
    margin-bottom: 15px;
}
footer{
    background-color: gray;
    text-align: center;
    
}

